<article class="aboutcon">
<h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">关于我</a></h1>
<div class="about left">
  <h2>Just about me</h2>
    <ul>
     <p>廖延，男，一个90后iOS程序员！13年入行，从业已经有三四年。</p>
    <p>
        人生就是一个得与失的过程，而我却是一个幸运者，失去的永远比得到的多。
    </p>
    <p>
        曾开发 小优健康、金当家、智慧农批、智慧海吉星等。
本博客主要的内容包括 iOS 开发技巧、读书心得、研究笔记。
    </p>

    </ul>
    <h2>About my blog</h2>
    <p>域  名：liaoyann.com </p>
    <p>服务器：阿里云服务器</p>
    <p>备案号：蜀ICP备11002373号-1</p>
    <p>程  序：Ruby on Rails</p>
</div>
<aside class="right">
    <div class="about_c">
    <p>网名：<span>细雨听风</span> | Scott</p>
    <p>姓名：廖延 </p>
    <p>生日：1991-12-24</p>
    <p>籍贯：江西省―赣州市</p>
    <p>现居：广东省―深圳市</p>
    <p>职业：iOS开发工程师</p>
    <p>喜欢的书：《道德经》《孙子兵法》</p>
</div>
</aside>
</article>
