<header>
  <div id="logo"><a href="/"></a></div>
  <nav class="topnav" id="topnav">
  	<a href="<%= root_path %>"><span>首页</span><span class="en">Protal</span></a>
  	<a href="<%= about_path %>"><span>关于我</span><span class="en">About</span></a>
  	<a href="<%= knowledge_path %>"><span>归档</span><span class="en">Archives</span></a>
  </nav>
</header>
